body, html {
  height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*background-color: #e13300;*/
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: underline;
    font-weight: bolder;
    color: inherit;
}

@media (max-width: 440px){
    #main {
        background-image: url("prague.jpg");
        background-position: 50% top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
        height: 50vh;
        overflow: hidden;
    }
    
    #save_the_date{
        overflow:hidden;
        min-height: 100vh;
        background-image: url("background.jpeg");
        background-size: cover;
        color: white;
    }
    
    .presentation {
        display:flex;
        flex-flow: column wrap;
        justify-content: space-between;
        position: relative;

        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px 20px;
        font-size: 15px;
        font-family: 'Montserrat';
    }

    .item {
        flex-basis: 25%;
        text-align: center;
    }
}

@media (min-width: 441px) {
    #main {
    background-image: url("prague.jpg");
    background-attachment: fixed;   
        background-position: 25% 50%;
        background-size: cover;
        height:100vh;
        font-size: 50px;
        font-weight: bolder;
        color: black;
        overflow: hidden;
    }

    #save_the_date{
        overflow:hidden;
        height:auto;
        min-height: 100vh;
        background-image: url("background.jpeg");
        background-size: cover;
        color: white;
    }
    
    .presentation {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;

        margin-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        gap: 10px 20px;
        font-size: 15px;
        font-family: 'Montserrat';
    }

    .item {
        flex-basis: 25%;
        text-align: center;
    }
}




.page {
    position: relative;
}


h1 {
    color: white;
    text-align: center;
    height: 0px;
}


#map {
  height: 100%;
    width: 100%;
}